<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="navbar-content container">
        <a href="/" class="navbar-brand font-weight-bold">logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">WORK</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">ABOUT ME</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/user/signup" class="nav-link">SIGN UP</a>
                </li>
                <li class="nav-item">
                    <a href="/user/login" class="nav-link">LOGIN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>