<!DOCTYPE html>
<html lang="en">
<head>

  <%- include("./partials/head.ejs") %>

</head>
<body>
  <div class="container">
    <h1>Please enter new user detail</h1>
    <form action="/admin/create" method="post">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required oninvalid="this.setCustomValidity('Please Enter valid email')">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="username">User name</label>
        <input type="text" name="username" required oninvalid="this.setCustomValidity('User name must be fill')" class="form-control" id="username" placeholder="contoh: naruto123">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" required class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" name="firstName" class="form-control" id="firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" name="lastName" class="form-control" id="lastName">
      </div>
      <div class="form-check">
        <input type="checkbox" name="isAdmin" class="form-check-input" id="isAdmin" value="true">
        <label class="form-check-label"  for="isAdmin">Tick me if this user is admin </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>
</html>