<!doctype html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">

    <link rel="stylesheet" href="../public/css/dashboard.css">
</head>

<body>

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Janken</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="/user/logout">Log Out</a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin/create">
                <span data-feather="home"></span>
                Create Player
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <span data-feather="home"></span>
                Player Detail
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file"></span>
                Player Game History
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Welcome Back Admin: <%= admin %>
          </h1>
        </div>
        <h2>Player Base</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">User Name</th>
              <th scope="col">Email</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Is Admin</th>
              <th scope="col">Action</th>
              <!-- <th scope="col">Delete</th> -->
            </tr>
          </thead>
          <tbody>
            <% for (let i=0; i<users.length; i++) { %>
              <tr>
                <th scope="row">
                  <%= offset+i+1 %>
                </th>
                <td>
                  <%= users[i].userName %>
                </td>
                <td>
                  <%= users[i].biodata.email %>
                </td>
                <td>
                  <%= users[i].biodata.firstName %>
                </td>
                <td>
                  <%= users[i].biodata.lastName %>
                </td>
                <% if(users[i].isAdmin){ %>
                  <td> yes </td>
                  <% } else {%>
                    <td>no</td>
                    <% } %>
                      <td>
                        <a class="btn btn-primary" href="/admin/edit/<%= users[i].id %> ">
                          update
                        </a>
                        <a method="post" class="btn btn-danger" href="/admin/delete/<%= users[i].id %> ">
                          delete
                        </a>
                      </td>
              </tr>
              <% } %>
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="/admin/?page=<% if(page-1 === 0) { %>1<% } else { %><%=page-1%><% }%>">Previous</a></li>
            <% for(let i = 1; i<= page; i++) { %> 
            <li class="page-item"><a class="page-link" href="/admin/?page=<%= i %>"><%= i %> </a></li>
            <% } %> 
            <li class="page-item"><a class="page-link" href="/admin/?page=<%= (page-1)+1 %> ">Next</a></li>
          </ul>
        </nav>
      </main>
    </div>
  </div>


  <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
    integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
    integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
    crossorigin="anonymous"></script>
  <script src="dashboard.js"></script>
</body>

</html>