<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs"); %> 
</head>
<body>
    <!-- header -->
    
    <!-- this is the main menu -->
    <div class="main-menu">
        <%- include ("./partials/header.ejs") %>
            <div class="container main-cta">
                <h1 class="text-white">PLAY TRADITIONAL GAME</h1>
                <p class="text-white">Experience new traditional gameplay</p>
                <a href="/user/login">
                    <button type="button" class="btn-playnow btn btn-warning font-weight-bold">PLAY NOW</button>
                </a>
            </div>
            <a href="#section-2">
                <div class="scroll-down">
                    <p>THE STORY</p>
                    <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </a>
    </div>


    <!-- this is the gameplay -->
    
    <div id="section-2" class="gameplay-option">
        <div class="container">
            <div class="gameplay-text">
                <p>What's so special?</p>
                <h1>THE GAMES</h1>
            </div>
            <div class="gameplay-img">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="assets/rockpaperstrategy-1600.jpg" class="w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/rockpaperstrategy-1600.jpg" class="w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/rockpaperstrategy-1600.jpg" class="w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/rockpaperstrategy-1600.jpg" class="w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/rockpaperstrategy-1600.jpg" class="w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
        
       
    </div>

    <!-- this is game feature -->
    <div class="game-feature">
        <div class="feature-txt">
            <p>What's so special?</p>
            <h1>FEATURES</h1>
        </div>
        <div class="feature-list">
            <div>
                <span></span>
            </div>
            <div>
                <h4>TRADITIONAL GAMES</h4>
                <P>If you miss your childhood, we provide many traditional games here</P>
                <br>
                <br>
                <h4>GAME SUIT</h4>
                <br>
                <br>
                <h4>TBD</h4>
            </div>  
        </div>
    </div>

    <div class="sys-req">
        <div class="container">
            <h1>SYSTEM</h1>
            <h1>REQUIREMENTS</h1>
        </div>
        <P class="sys-req-txt">Can my PC run this game?</P>
        <div class="sys-req-tbl">
            <div class="sys-req-itm item1">
                <h3>OS</h3>
                <p>Windows 7 64-bit only</p>
                <p>(No OSX support at this time)</p>
            </div>
            <div class="sys-req-itm item2">
                <h3>PROCESSOR</h3>
                <p>Intel core 2 duo @2.4 GHz or</p>
                <p>AMD Athlon X2 @2.8 GHz</p>
            </div>
            <div class="sys-req-itm item3">
                <h3>MEMORY</h3>
                <p>4GB RAM</p>
            </div>
            <div class="sys-req-itm item4">
                <h3>STORAGE</h3>
                <p>8GB available space</p>
            </div>
            <div class="sys-req-itm item5">
                <h3>GRAPHICS</h3>
                <p>NVIDIA GeForce GTX 660 2GB or</p>
                <p>AMD RADEON</p>
            </div>
        </div>
    </div>

    <div class="top-score">
        <div class="container content">
            <div class="top-score-txt">
                <h1>TOP SCORES</h1>
                <p>This top score from various game provided on this platform</p>
                <button type="button" class="btn-topscore btn btn-warning">see more</button>
            </div>
            <div class="top-score-card">
                <div class="card card-1">
                    <div class="card-body">
                        <svg class="twitter-svg" width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.3" d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
                            </svg>
                        <div class="card-header">
                            <img class="card-img" src="assets/evan-lahti.jpg" alt="">
                            <h4 class="card-title text-warning">Card title</h4>
                            <h6 class="card-subtitle mb-2 text-muted">PC Gamer</h6>
                        </div>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <h6 class="card-subtitle mb-2 text-muted">2018</h6>
                    </div>
                  </div>
                  <div class="card card-2">
                    <div class="card-body">
                        <svg class="twitter-svg" width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.3" d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
                            </svg>
                        <div class="card-header">
                            <img class="card-img" src="assets/evan-lahti.jpg" alt="">
                            <h4 class="card-title text-warning">Card title</h4>
                            <h6 class="card-subtitle mb-2 text-muted">PC Gamer</h6>
                        </div>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <h6 class="card-subtitle mb-2 text-muted">2018</h6>
                    </div>
                  </div>
                  <div class="card card-3">
                    <div class="card-body">
                        <svg class="twitter-svg" width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.3" d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
                            </svg>
                        <div class="card-header">
                            <img class="card-img" src="assets/evan-lahti.jpg" alt="">
                            <h4 class="card-title text-warning">Card title</h4>
                            <h6 class="card-subtitle mb-2 text-muted">PC Gamer</h6>
                        </div>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <h6 class="card-subtitle mb-2 text-muted">2018</h6>
                    </div>
                  </div>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small cyan darken-3">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/"> farhanaryasukma</a>
    </div>
    </footer>
    <%- include("./partials/scripts.ejs") %> 
</body>
</html>