<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/loginStyle.css">
</head>

<body class="text-center">
  <!-- header -->
  <%- include("./partials/header") %>

    <% if(message) { %>
      <h2>
        <%= message %>
      </h2>
      <% } else { %>
          <h2></h2>
        <% } %>  

        <main class="form-signin w-100 m-auto">
          <form action="/user/login" method="post">
            <h1 class="h3 mb-3 fw-normal">Please insert username and password to login</h1>
            <div class="form-floating">
              <input id="username" name="username" type="text" class="form-control" placeholder="name@example.com">
              <label for="username">username</label>
            </div>
            <div class="form-floating">
              <input id="password" name="password" type="password" class="form-control" placeholder="name@example.com">
              <label for="password">password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">© all right reserved</p>
          </form>
        </main>

        <%- include("./partials/scripts.ejs") %>
</body>

</html>