<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./partials/head.ejs"); %>
        <link rel="stylesheet" href="/css/loginStyle.css">
</head>

<body class="text-center">
    <!-- header -->
    <%- include("./partials/header") %>

        <% if(message){ %>
            <h1>
                <%= message %>
            </h1>
            <% } else{ %>
                <h1></h1>
                <% } %>

                    <main class="form-signin w-100 m-auto">
                        <form action="/user/signup" method="post">
                            <h1 class="h3 mb-3 fw-normal">Please insert username, email and password to signup</h1>
                            <div class="form-floating">
                                <input id="userName" name="userName" type="text" class="form-control"
                                    placeholder="name@example.com">
                                <label for="userName">username</label>
                            </div>
                            <div class="form-floating">
                                <input id="email" name="email" type="email" class="form-control"
                                    placeholder="name@example.com">
                                <label for="email">email</label>
                            </div>
                            <div class="form-floating">
                                <input id="password" name="password" type="password" class="form-control"
                                    placeholder="name@example.com">
                                <label for="password">password</label>
                            </div>
                            <div class="form-floating">
                                <input id="password2" name="password2" type="password" class="form-control"
                                    placeholder="name@example.com">
                                <label for="password2">re-enter password</label>
                            </div>
                            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                            <p class="mt-5 mb-3 text-muted">© all right reserved</p>
                        </form>
                    </main>

                    <%- include("./partials/scripts.ejs") %>
</body>
</html>