<!DOCTYPE html>
<html lang="en">
<head>

  <%- include("./partials/head.ejs") %>

</head>
<body>
  <div class="container">
    <h1>Update Page</h1>
    <form action="/admin/edit/<%= data.id %> " method="post">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" value="<%= data.biodata.email  %> " name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required oninvalid="this.setCustomValidity('Please Enter valid email')">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="userName">User name</label>
        <input type="text" value="<%= data.userName %> " name="userName" required oninvalid="this.setCustomValidity('User name must be fill')" class="form-control" id="userName" placeholder="contoh: naruto123">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" value="<%= data.password  %> " name="password" required class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" value="<%= data.biodata.firstName  %> " name="firstName" class="form-control" id="firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" value="<%= data.biodata.lastName  %> " name="lastName" class="form-control" id="lastName">
      </div>
      <div class="form-check">
        <input type="checkbox" name="isAdmin" class="form-check-input" id="isAdmin" value="true" <% if(data.isAdmin) { %> 
            checked
            <% } %> >
        <label class="form-check-label"  for="isAdmin">Tick me if this user is admin </label>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
</body>
</html>